<!DOCTYPE html>
<html>
  <head>
    <title>Express CGI</title>
    <style>
        body { margin: 0 auto; width: 720px; padding-top: 20px; font-size: 18px; }
    </style>
  </head>
  <body>
    <a href="render.njs">Home</a> | <a href="render2.njs">Show</a>
    <h1>Show <%= add %></h1>
    <br/>
	<%= test %>

  </body>
</html>

