body { 
	 margin: 10px; background-color: #112233;
	 font-family: georgia, times; font-size: 16px;
}
.center {
     margin: auto;
     width: 720px;
     padding: 10px;
 }
#header { 
	 background-color: #335577; color: white; 
	 height: 50px; width: 700px; 
	 padding: 10px;
}
wrapper {
     width: 720px;
     xmargin: auto;
     padding: 10px;
}
#leftcolumn, #rightcolumn {
    float: left;
    min-height: 780px;
    color: white;
}
#leftcolumn {
     width: 460px;
     background-color: white;
	 color: black;
	 padding: 20px;
     height: 100%;
}
#rightcolumn {
     width: 180px;
     background-color: #558866;
	 color: white;
	 padding: 20px;
	 line-height: 30px;
     height: 100%;
}	
#rightcolumn a, a:visited { color: white; text-decoration: none; }
.title { font-size: 32px; display: inline-block; 
}
.subtitle { font-size: 16px; display: inline-block; 
	 position: absolute; padding-top: 25px; float: left; 
}

