<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


<display-name>Simple DB</display-name>

 
<servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>ListDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
	
<servlet>
        <servlet-name>upd</servlet-name>
        <servlet-class>UpdDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upd</servlet-name>
        <url-pattern>/upd</url-pattern>
    </servlet-mapping>
	
<servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>Save</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
	
<servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>	
	
<servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>	
	
 <welcome-file-list>
  <welcome-file>list</welcome-file>
 </welcome-file-list>

</web-app>


